<!DOCTYPE html>
<html>

<head>
    <title>Pom's Choose</title>
    <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
    <div id="main">
        {% if ending %}
            <h2>Молодец. Ты сама себе такого Котэ выбрала, потом не жалуйся</h2>
            <img src="/static/images/cats/{{ popPhoto }}.jpg" alt="{{ popPhoto }}">
            
        {% elif not popPhoto %}
            <h1>Выбирай фотку, которая больше понравилась! Выбирай мудро!</h1>
            <h1><a href='http://open-gamer.ru/000/0000000000'>GO</a></h1>
        {% else %}
            <h2>Выбирай фотку, которая больше понравилась! Выбирай мудро!</h2>
            <a href="http://open-gamer.ru/{{ p2 }}/{{ popPhoto }}"><img src="/static/images/cats/{{ p1 }}.jpg" alt="{{ p1 }}"></a>
            <a href="http://open-gamer.ru/{{ p1 }}/{{ popPhoto }}"><img src="/static/images/cats/{{ p2 }}.jpg" alt="{{ p2 }}"></a>
            <br>
            {{ popPhoto }}
            <br>
            {{ p1 }}
            <br>
            {{ p2 }}
        {% endif %}
    </div>
