<!DOCTYPE html>
<html>

<head>
   <title>OpenGamer: Main</title>
   <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
   <meta name="yandex-verification" content="cba23ed4a6d644f6"/>
   <meta name-"description" content="Сайт для проекта OpenGamer (генератор бросков и крафт)"/>
   <meta name="google-site-verification" content="ezQ1XsHr-0oAL2IydcE4qw-_tVxpLPneR705SjB8b5U" />
</head>

<body>
   <div id="main">
      <a href="/openroller/">
         <img width="10%" src="/static/images/iconOR.png" alt="OpenRoller"/>
      </a>

      <a href="/opencrafter/">
         <img width="10%" src="/static/images/iconCR.png" alt="OpenCrafter"/>
      </a>

      <a href="https://vk.com/opengamerspb">
         <img width="10%" src="/static/images/OGmain.jpg" alt="OpenGamer"/>
      </a>
   </div>
   <div id="contact">    
      Создал: <a href="https://vk.com/kylikov_nikita">Kylich</a><br>
   </div>
</body> 
</html>
