<!DOCTYPE html>
<html>
<head>
    <title>OpenGamer : OpenRoller</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>

<body>
<div class="block-left" style="width:40%;overflow:auto;float:left"><!--height:800px;-->

    <script>
        function rollDice() {
            $.ajax({
                type: "POST",
                url: "/rolldice",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#finalPush').html(json.finalPush)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>
    
    <script>
        function luckDice() {
            $.ajax({
                type: "POST",
                url: "/luckdice",
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#finalPush').html('')
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>
    
    <script>
        var fmCheck = 0
        var fmTextPerk = '<td id="RR"><b>Перк:</b></td><td id="RRb">\
                            <input name="TEXT_ReRoll" id="TEXT_ReRoll" type="checkbox"/></td>'
        var fmTextPush = '<td id="Push"><b><FONT color=green>Кнопка для Пуш!</font></b></td><td id="Pushb">\
                            <input name="TEXT_PUSH" id="TEXT_PUSH" type="checkbox"/></td>'
        var fmTextOM = '<td><h4><b>Автоуспех:</b></h4></td><td>\
                            <input type="number" min="-10" max="10" value=0 id="TEXT_OM" name="TEXT_OM"></td>'

        function fullMod() {
            if (fmCheck % 2 == 0) {
                $('#fmTextPerk').html(fmTextPerk);
                $('#fmTextPush').html(fmTextPush);
                $('#fmTextOM').html(fmTextOM);
            } else {
                $('#fmTextPerk').html('');
                $('#fmTextPush').html('');
                $('#fmTextOM').html('');
            }
            fmCheck++;
        }
    </script>

    <script>
        var tutCheck = 0
        var tutorialText = '<h1><b>Информация по использованию:</b></h1>\
<p><b>Кол-во Кубов</b> - то, сколько кубов на броске - атрибуты, навыки, модификаторы, ДМ, и т.д. НО (!) без учета ПСВ</p>\
<p><b>Кол-во Бросков</b> - то, сколько раз бросать для Продолжительного Броска</p>\
<p><b>Переброс</b> - то, какие кубы перебрасываются ("взрываются", профа, качество, и т.д.)</p>\
<p><b>ПСВ</b> - тратишь ли ты ПСВ на все броски (отдельныя трата ПСВ на каждый бросок на Продолжительном Броске в разработке)</p>\
<p><b>Перк</b> - если да, то тратишь ПСВ на переброс всех неудачных кубов на броске; если нет - то +3 куба</p>\
<p><b>Автоуспех</b> - то, сколько добавляется/вычитается успехов на удачном броске (ОМ, контест и т.д.)</p>\
<p><b>Текст отчета</b> - укажите мастера, персонажа, дайспул и/или заявку - ту инфу, по которой будет понятно, какой этот бросок</p>\
<p><b>Куб Удачи</b> - верь, надейся и кидай. У тебя все получится!</p>\
<b>Результаты броска:</b><br>\
<b>[X]</b> - номер броска<br>\
<b>(X)</b> - переброшенный куб за перк<br>\
<b>X</b> - выпавший кубик<br>\
<b>:</b> - переброшенные кубики<br>\
<b>---> X</b> - результат броска (>0 - успехи, <0 - драмат, =0 - провал)<br>\
<b>~~~ X ~~~</b> - итоговый результат<br><br>\
Кубов:5 Бросков:5 ПСВ:да Переброс:(0, 9) Перк:да<br>\
[1] (4) 1 - (1) 4 - (3) 3 - (2) 6 - (6) 1 ---> -2<br>\
[2] 0 - (2) 3 - 9 - (5) 1 - (3) 6 : (4) 5 - (6) 5 ---> 2<br>\
[3] (1) 1 - (2) 1 - (1) 3 - (6) 0 - (4) 6 : 6 ---> -2<br>\
[4] 9 - (4) 9 - (7) 3 - (7) 7 - 8 : (1) 6 - 4 ---> 3<br>\
[5] (4) 1 - (6) 2 - 0 - 0 - 0 : 9 - 9 - 0 - (7) 8 - (4) 7 - 8 ---> 12<br>\
~~~ 13 ~~~<br>\
<h1><b>Известные различия с текстовыми правилами:</b></h1>\
<p><b>1)</b> Ужасное Качество вычитает один Успех из общего кол-ва Успехов, но должен вычитать кол-во Единиц, и жесткая система учета Драмата</p>\
<p><b>2)</b> Драмат на Длительном Броске вычитает из общего кол-ва Успехов кол-во Единиц, но должен прерывать бросок полностью</p>\
<p><b>3)</b> Отсутствие Успехов на одном из Бросков на Длительном броске ничего не делает, но должен уменьшать кол-во Кубов на 1 на последующие броски</p>\
<p>Если вы нашли еще ошибки или есть предложения по улучшению, <a href="https://vk.com/kylikov_nikita">пишите в VK</a></p>'
        function tutorial() {
            if (tutCheck % 2 == 0) {
                $('#tutorial').html(tutorialText);
            } else {
                $('#tutorial').html('');
            }
            tutCheck++;
        }
    </script>

    <script>
        function stepMod() {
            $.ajax({
                type: "POST",
                url: "/stepmod",
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#stepRl').html(json.stepRl)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    $('#stepDl').html(json.stepDl)
                    $('#SMS').html('')
                    $('#RDS').html('')
                    $('#LDS').html('')
                    $('#FMS').html('')
                    $('#WP').html('')
                    $('#RR').html('')
                    $('#RRb').html('')
                    $('#Push').html('')
                    $('#Pushb').html('')
                    $('#fmTextOM').html(json.fmTextOM)
                    $('#stepReload').html(json.stepReload)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>

    <script>
        function stepRl(){
            $.ajax({
                type: "POST",
                url: "/step?sCheck=Rl",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#stepRl').html(json.stepRl)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
        function stepWP(){
            $.ajax({
                type: "POST",
                url: "/step?sCheck=WP",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#stepRl').html(json.stepRl)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
        function stepRR(){
            $.ajax({
                type: "POST",
                url: "/step?sCheck=RR",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#stepRl').html(json.stepRl)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
        function stepDl(){
            $.ajax({
                type: "POST",
                url: "/step?sCheck=Dl",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#stepRl').html(json.stepRl)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>

    <div id="divLogo">
        <a href="/openroller/">
           <img align='right' width="30%" src="/static/images/iconOR.png" alt="OpenRoller"/>
        </a>
    </div>
    
    <div id="formRD">
        <form action="/rolldice" method="post" name="form">
            <table>
                <tr>
                   <td><p><b>Кол-во Кубов:</b></p></td>
                   <td><input type="number" min='1' max='100' value= {{ Dices_ }} id="TEXT_Dices" name="TEXT_Dices"></td>
                </tr>

                <tr>
                   <td><p><b>Кол-во Бросков:</b></td>
                   <td><input type="number" min='1' max='100' value= {{ Rolls_ }} id="TEXT_Rolls" name="TEXT_Rolls"></td>
                </tr>

                <tr>
                    <td><p><b>Доброс:</b></td>
                    <td>
                        <p><select size="5" id="TEXT_Quality" name="TEXT_Quality">
                        <option type="number" value="2" {% if Q_==2 %} selected {% endif %}>2: доброс 8, 9, 0</option>
                        <option type="number" value="1" {% if Q_==1 %} selected {% endif %}>1: доброс 9 и 0</option>
                        <option type="number" value="0" {% if Q_==0 %} selected {% endif %}>0: доброс 0</option>
                        <option type="number" value="-1" {% if Q_==-1 %} selected {% endif %}>-1: без доброса</option>
                        <option type="number" value="-2" {% if Q_==-2 %} selected {% endif %}>-2: -успехи из броска</option>
                        </select></p>
                    </td>
                </tr>

                <tr id="WP">
                   <td><b>ПСВ:</b></td>
                   <td><input type="checkbox" id="TEXT_WillPower" name="TEXT_WillPower"></td>
                </tr>
                <tr id='fmTextPerk'></tr>
                <tr id='fmTextPush'></tr>
                <tr id='fmTextOM'></tr>
                
                <tr>
                    <td><b>Текст отчета:</b></td>
                    <td><textarea id="TEXT_EText" name="TEXT_EText"></textarea></td>
                </tr>
                <tr><td colspan="2">
                        <div align="right"><sup>(персонаж, мастер и/или заявка)</sup></div>
                </td></tr>
                
                <tr><td id='stepRl'></td><td id='stepRR'></td></tr>
                <tr><td id='stepWP'></td><td id='stepDl'></td></tr>
                

                <tr><td colspan="2" id="RDS">
                    <input type="button" value="Бросай" onclick="rollDice();" style="width:100%;height:150%">
                </td></tr>
            </table>
        </form>
    </div>
    <div id="stepReload"></div>
    <br>
    <div id="LDS">
        <form action="/luckdice" method="POST">
            <input type="button" value="Куб Удачи" onclick="luckDice()">
        </form>
    </div>
    <br><br>
    <div id="SMS">
        <form action="/stepmod" method="POST">
            <input type="button" value="Пошаговый Формат" onclick="stepMod()">
        </form>
    </div>
    <div id="FMS">
        <form action="/fullmod" method="POST">
            <input type="button" value="Полный Формат" onclick="fullMod()">
        </form>
    </div>
    <br><br>    
    <div id="TutorialSubmit">
        <form action="/tutorial" method="POST">
            <input type="button" value="Инструкции" onclick="tutorial()">
        </form>
    </div>

    <div id="contacts">
        <a href="../">Страница выбора</a><br>
        Проект: <a href="https://vk.com/opengamerspb">OpenGamer</a><br>
        Создал: <a href="https://vk.com/kylikov_nikita">Kylich</a><br>
        Идея: <a href="http://www.roll-dice-online.com/">RollDice Online</a>
     </div>
     <br><br>


</div>

<div class="block-right" style="overflow:auto;height:800px;"><!--width:70%;-->
    <div id="Resultat"></div>
    <div id="finalPush"></div>
    <div id="tutorial"></div>
</div>

</body>
</html>
