<!DOCTYPE html>
<html>

<head>
   <title>OpenGamer: Main</title>
   <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>

<body>
   <div id="main">
      <a href="https://ogrutest.herokuapp.com/openroller/">
         <img width="10%" src="/static/images/iconOR.png" alt="OpenRoller"/>
      </a>

      <a href="https://ogrutest.herokuapp.com/opencrafter/">
         <img width="10%" src="/static/images/iconCR.png" alt="OpenCrafter"/>
      </a>

      <a href="https://vk.com/opengamerspb">
         <img width="10%" src="/static/images/OGmain.jpg" alt="OpenGamer"/>
      </a>
   </div>
   <div id="contact">    
      Создал: <a href="https://vk.com/kylikov_nikita">Kylich</a><br>
   </div>
</body> 
</html>