<!DOCTYPE html>
<html>

<head>
     <title>OpenGamer Project's</title>
     <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="main">
        <a href="http://www.open-gamer.ru/openroller/">
           <img width="10%" src="/static/images/iconOR.png" alt="OpenRoller"/>
        </a>

        <a href="http://www.open-gamer.ru/opencrafter/">
           <img width="10%" src="/static/images/iconCR.png" alt="OpenCrafter"/>
        </a>

        <a href="https://vk.com/opengamerspb">
           <img width="10%" src="/static/images/OGmain.jpg" alt="OpenGamer"/>
        </a>
        <!--
        <br>
        <a href="http://www.open-gamer.ru/openpoints">OpenPoints</a>
        -->
    </div>
    <div id="contact">    
         Создал: <a href="https://vk.com/kylikov_nikita">Kylich</a><br>
         Host: Heroku         
     </div>
