<!DOCTYPE html>
<html>
<head>
    <title>OpenGamer : OpenRoller</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
<div class="block-left" style="width:33%;height:800px;overflow:auto;float:left">

    <script>
        function rollDice() {
            $.ajax({
                type: "POST",
                url: "/rolldice/",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#finalpush').html(json.finalpush)
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>
    
    <script>
        function luckDice() {
            $.ajax({
                type: "POST",
                url: "/luckdice/",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#Resultat').html(json.JoinText)
                    $('#finalpush').html('')
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>
    
    <script>
        var fmCheck = 0
        function fullMod() {
            $.ajax({
                type: "POST",
                url: "/fullmod?fmCheck="+fmCheck,
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#fmTextPerk').html(json.fmTextPerk)
                    $('#fmTextPush').html(json.fmTextPush)
                    $('#fmTextOM').html(json.fmTextOM)
                    console.log(response);
                    fmCheck++;
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>

    <script>
        var tutCheck = 0
        function tutorial() {
            $.ajax({
                type: "POST",
                url: "/tutorial?tutCheck="+tutCheck,
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#tutorial').html(json.tutText)
                    console.log(response);
                    tutCheck++;
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>

    <script>
        function stepMod() {
            $.ajax({
                type: "POST",
                url: "/stepmod/",
                data: $('form').serialize(),
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#stepRoll').html(json.stepRoll)
                    $('#stepWP').html(json.stepWP)
                    $('#stepRR').html(json.stepRR)
                    $('#SMS').html(json.SMS)
                    $('#RDS').html(json.RDS)
                    $('#LDS').html(json.LDS)                    
                    console.log(response);
                },
                error: function(error) {console.log(error);}
            });
        }
    </script>

    <script>
        function StepRoll() {
            $.ajax({
                alert('StepRoll pushed (in progress...');
            });
        }
    </script>
    <script>
        function StepWP() {
            $.ajax({
                alert('StepWP pushed (in progress...');
            });
        }
    </script>
    <script>
        function StepRR() {
            $.ajax({
                alert('StepRR pushed (in progress...');
            });
        }
    </script>


    <div id="divLogo">
        <a href="http://www.open-gamer.ru/openroller/">
           <img align='right' width="30%" src="/static/images/iconOR.png" alt="OpenRoller"/>
        </a>
    </div>
    
    <div id="formRD">
        <form action="/rolldice" method="post" name="form">
            <table>
                <tr>
                   <td><p><b>Кол-во Кубов:</b></p></td>
                   <td><input type="number" min='1' max='50' value=5 id="TEXT_Dices" name="TEXT_Dices"></td>
                </tr>

                <tr>
                   <td><p><b>Кол-во Бросков:</b></td>
                   <td><input type="number" min='1' max='50' value=1 id="TEXT_Rolls" name="TEXT_Rolls"></td>
                </tr>

                <tr>
                    <td><p><b>Переброс:</b></td>
                    <td>
                        <p><select size="5" id="TEXT_Quality" name="TEXT_Quality">
                        <option type="number" value="2">2: переброс 8, 9, 0</option>
                        <option type="number" value="1">1: переброс 9 и 0</option>
                        <option type="number" selected value="0">0: переброс 0</option>
                        <option type="number" value="-1">-1: без переброса</option>
                        <option type="number" value="-2">-2: -успех из броска</option>
                        </select></p>
                    </td>
                </tr>

                <tr>
                   <td><b>ПСВ:</b></td>
                   <td><input type="checkbox" id="TEXT_WillPower" name="TEXT_WillPower"></td>
                </tr>
                <tr id='fmTextPerk'></tr>
                <tr id='fmTextPush'></tr>
                <tr id='fmTextOM'></tr>
                
                <tr>
                    <td><b>Текст отчета:</b></td>
                    <td><textarea id="TEXT_EText" name="TEXT_EText"></textarea></td>
                </tr>
                <tr><td colspan="2">
                        <div align="right"><sup>(персонаж, мастер и/или заявка)</sup></div>
                </td></tr>

                <tr><td id='stepRoll'></td><td id='stepRR'></td></tr>
                <tr><td id='stepWP' colspan="2"></td></tr>

                <tr><td colspan="2" id="RDS">
                    <input type="button" value="Бросай" onclick="rollDice();" style="width:100%;height:150%">
                </td></tr>

            </table>
        </form>
    </div>
    
    <br>

    <div id="LDS">
        <form action="/luckdice" method="POST">
            <input type="button" value="Куб Удачи" onclick="luckDice()">
        </form>
    </div>

    <br><br>

    <div id="SMS">
        <form action="/stepmod" method="POST">
            <input type="button" value="Пошаговый Формат" onclick="stepMod()">
        </form>
    </div>

    <div id="FullModSubmit">
        <form action="/fullmod" method="POST">
            <input type="button" value="Полный Формат" onclick="fullMod()">
        </form>
    </div>

    <div id="TutorialSubmit">
        <form action="/tutorial" method="POST">
            <input type="button" value="Инструкции" onclick="tutorial()">
        </form>
    </div>

    <div id="contacts">
        <a href="http://www.open-gamer.ru/">Страница выбора</a><br>
        Проект: <a href="https://vk.com/opengamerspb">OpenGamer</a><br>
        Создал: <a href="https://vk.com/kylikov_nikita">Kylich</a><br>
        Идея: <a href="http://www.roll-dice-online.com/">RollDice Online</a>
     </div>
</div>

<div class="block-right" style="width:66%;height:800px;overflow:auto;">
    <div id="Resultat"></div>
    <div id="finalPush"></div>
    <div id="tutorial"></div>
</div>

</body>
</html>
